---
interface Props {
  author: string;
  socialLinks: { text: string; href: string }[];
}

const { author, socialLinks } = Astro.props;
---

<div class="flex flex-col gap-2">
   <a 
    href="mailto:your-email@example.com" 
    class="text-sm font-normal text-neutral-200 transition-colors duration-200 hover:text-primary text-shadow-sm w-fit" 
  
    {author}<br>SecularLotus@gmail.com<br><br>
  </a>
</div>

    <div class="flex gap-4">
      {
        socialLinks.map((link) => (
          <a
            href={link.href}
            class="text-sm text-neutral-400 transition-colors hover:text-white"
            target="_blank"
            rel="noopener noreferrer"
          >
            {link.text}
          </a>
        ))
      }
    </div>
  </div>
</footer>
