---
interface Props {
  text: string;
  href: string;
}

const { text, href } = Astro.props;
---

<section id={href} class="py-24">
  <h2
    class="mb-14 text-4xl font-bold tracking-tighter text-white md:text-5xl"
    style="font-family: 'Yu Mincho', 'YuMincho', 'Hiragino Mincho ProN', 'MS PMincho', serif;"
  >
    {text}
  </h2>
  <slot />
</section>
